[submodule "blockads"]
	path = blockads
	url = ../cst-public-plugins-blockads.git
[submodule "getrc"]
	path = getrc
	url = ../cst-public-plugins-getrc.git
[submodule "input"]
	path = input
	url = ../cst-public-plugins-input.git
[submodule "lbreakout"]
	path = lbreakout
	url = ../cst-public-plugins-lbreakout.git
[submodule "links"]
	path = links
	url = ../cst-public-plugins-links.git
[submodule "logomask"]
	path = logomask
	url = ../cst-public-plugins-logomask.git
[submodule "ltris"]
	path = ltris
	url = ../cst-public-plugins-ltris.git
[submodule "msgbox"]
	path = msgbox
	url = ../cst-public-plugins-msgbox.git
[submodule "shellexec"]
	path = shellexec
	url = ../cst-public-plugins-shellexec.git
[submodule "tuxcal"]
	path = tuxcal
	url = ../cst-public-plugins-tuxcal.git
[submodule "tuxcom"]
	path = tuxcom
	url = ../cst-public-plugins-tuxcom.git
[submodule "tuxmail"]
	path = tuxmail
	url = ../cst-public-plugins-tuxmail.git
[submodule "tuxwetter"]
	path = tuxwetter
	url = ../cst-public-plugins-tuxwetter.git
