[submodule "blockads"]
	path = blockads
	url = ../plugin-blockads.git
[submodule "getrc"]
	path = getrc
	url = ../plugin-getrc.git
[submodule "input"]
	path = input
	url = ../plugin-input.git
[submodule "lbreakout"]
	path = lbreakout
	url = ../plugin-lbreakout.git
[submodule "links"]
	path = links
	url = ../plugin-links.git
[submodule "logomask"]
	path = logomask
	url = ../plugin-logomask.git
[submodule "logoview"]
	path = logoview
	url = ../plugin-logoview.git
[submodule "ltris"]
	path = ltris
	url = ../plugin-ltris.git
[submodule "msgbox"]
	path = msgbox
	url = ../plugin-msgbox.git
[submodule "shellexec"]
	path = shellexec
	url = ../plugin-shellexec.git
[submodule "tuxcal"]
	path = tuxcal
	url = ../plugin-tuxcal.git
[submodule "tuxcom"]
	path = tuxcom
	url = ../plugin-tuxcom.git
[submodule "tuxmail"]
	path = tuxmail
	url = ../plugin-tuxmail.git
[submodule "tuxwetter"]
	path = tuxwetter
	url = ../plugin-tuxwetter.git
[submodule "scripts-lua"]
	path = scripts-lua
	url = ../plugin-scripts-lua.git
[submodule "coolitsclimax"]
	path = coolitsclimax
	url = ../plugin-coolitsclimax.git
